@using BlazorApp.Components.HTML.Table
@using BlazorApp.Components.HTML.Tbody
@using BlazorApp.Components.HTML.Thead
@using BlazorApp.Components.HTML.Tr
@using BlazorApp.Components.HTML.Th
@using BlazorApp.Components.HTML.Td
@using BlazorApp.Services.Weather.Forecasts.Forecast.Models.WeatherData
@using BlazorApp.Services.Weather.Forecasts

@inject IJSRuntime JS

<Table>
    <Thead>
        <Tr>
            <Th>
                Date
            </Th>
            <Th aria-label="Temperature in Celsius">
                Temp. (C)
            </Th>
            <Th aria-label="Temperature in Fahrenheit">
                Temp. (F)
            </Th>
            <Th>
                Summary
            </Th>
        </Tr>
    </Thead>
    <Tbody>
        @foreach (var forecast in forcasts)
        {
            <Tr>
                <Td>
                    @forecast.Date.ToShortDateString()
                </Td>
                <Td>
                    @forecast.TemperatureC
                </Td>
                <Td>
                    @forecast.TemperatureF
                </Td>
                <Td>
                    @forecast.Summary
                </Td>
            </Tr>
        }
    </Tbody>
</Table>

@code {
    [CascadingParameter]
    public WeatherData[] forcasts { get; set; } = Array.Empty<WeatherData>();

    protected override void OnInitialized()
    {
        Console.WriteLine($"console.log: {forcasts}");
    }
}
