@page "/weather"
@inject IJSRuntime JS

@using BlazorApp.Components.Services.Weather.Forecasts.WeatherTable
@using BlazorApp.Services.Weather
@using BlazorApp.Services.Weather.Forecasts;
@using BlazorApp.Services.Weather.Forecasts.Forecast.Models.WeatherData;

@using BlazorApp.Components.Services.Weather.Forecasts;

<PageTitle>
    Weather
</PageTitle>

<h1>
    Weather
</h1>

<p>
    This component demonstrates showing data.
</p>

@code {
    [CascadingParameter]
    public WeatherData[] forecasts { get; set; } = Array.Empty<WeatherData>();

    private async Task LogForecasts()
    {
         await JS.InvokeVoidAsync("console.log", forecasts);
    }
}

@if (forecasts.Length == 0)
{
    <p>
        <em>
            Loading...
        </em>
    </p>
}
else
{
    <button class="btn btn-primary mb-3" @onclick="LogForecasts">
        Log Forecasts to Console
    </button>

    <WeatherTable />
}